libro.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    

    <xs:simpleType name="TituloLargo">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Genero">
        <xs:restriction base="xs:string">
            <xs:enumeration value="fantástico"/>
            <xs:enumeration value="histórico"/>
            <xs:enumeration value="terror"/>
            <xs:enumeration value="thriller"/>
            <xs:enumeration value="humor"/>
        </xs:restriction>
    </xs:simpleType>

    

    <xs:element name="libro">
        <xs:complexType>
            <xs:sequence>

                
                <xs:element name="titulo">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="TituloLargo">
                                <xs:attribute name="ediciones"
                                              type="xs:int"
                                              use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>

                
                <xs:element name="escritores">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="escritor"
                                        type="xs:string"
                                        minOccurs="1"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                
                <xs:element name="publicacion"
                            type="xs:date"/>

                
                <xs:element name="generos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="genero"
                                        type="Genero"
                                        minOccurs="1"
                                        maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>